<div class="d-flex background">
    <div class="center-chart container">
        <div class="filters col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt possimus dolores, vitae voluptas dolorum reprehenderit minus ab sint obcaecati maiores numquam facere iste voluptatibus enim corporis impedit distinctio, laborum quaerat?
        </div>
        <div class="chart col">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam aliquam debitis maiores animi quasi quod, numquam corporis iure dolores voluptatem dolorum vero placeat blanditiis aperiam explicabo sit! Ab, numquam possimus.
        </div>
    </div>
</div>
