.center-chart {
    overflow: auto;
    margin: auto;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    padding: 0px;
}

.filters {
    background-color: blue;
    width: 100%;
    height: 100%;
}

.chart {
    background-color: green;
    width: 100%;
    height: 100%;
}