<div class="d-flex background">
    <div class="center-chart">
        <div class="row">
            <div class="filters col-md-3">
                <form>
                    <div class="">
                        Personalize sua busca: 
                        <input class="form-control" type="text" maxlength="100" formControlName="mes" placeholder="Mês">
                        <input class="form-control" type="text" maxlength="100" formControlName="ano" placeholder="Ano">
                        <input class="form-control" type="date" maxlength="100" formControlName="dataOcorrido" placeholder="Data do ocorrido">
                        <input class="form-control" type="text" maxlength="100" formControlName="periodo" placeholder="Periodo">
                        <input class="form-control" type="text" maxlength="100" formControlName="cidade" placeholder="Cidade">
                        <input class="form-control" type="text" maxlength="100" formControlName="estado" placeholder="Estado">
                        <input class="form-control" type="text" maxlength="100" formControlName="sexo" placeholder="Sexo">
                        <input class="form-control" type="text" maxlength="100" formControlName="flagrante" placeholder="Flagrante">
                        <input class="form-control" type="text" maxlength="100" formControlName="delegacia" placeholder="Delegacia">
                    </div>
                </form>
            </div>
            <div class="chart col">
            </div>
        </div>
    </div>
</div>
