<div class="d-flex background">
    <div class="center-chart">
        <div class="row">
            <div class="filters col-md-3">
                <form [formGroup]="itemForm">
                    <div class="">
                        <h4>Personalize sua busca:</h4>

                        <div class="form-group col-md-10">
                            <ng-select formControlName="mes" name="mes" placeholder="Mês">
                                <ng-option *ngFor="let mes of meses" [value]="mes.mes">{{ mes.mes }}</ng-option>
                             </ng-select>
                        </div>

                        <div class="form-group col-md-10">
                            <ng-select formControlName="ano" name="ano" placeholder="Ano">
                                <ng-option *ngFor="let ano of anos" [value]="ano.ano">{{ ano.ano }}</ng-option>
                             </ng-select>
                        </div>

                        <div class="form-group col-md-10">
                            <input class="form-control" type="date" maxlength="100" formControlName="dataOcorrido" placeholder="Data do ocorrido">
                        </div>

                        <div class="form-group col-md-10">
                            <input class="form-control" type="text" maxlength="100" formControlName="periodo" placeholder="Periodo">
                        </div>

                        <div class="form-group col-md-10">
                            <input class="form-control" type="text" maxlength="100" formControlName="cidade" placeholder="Cidade">
                        </div>

                        <div class="form-group col-md-10">
                            <ng-select formControlName="estado" name="estado" placeholder="Estado">
                                <ng-option *ngFor="let estado of estados" [value]="estado.state">{{ estado.state }}</ng-option>
                             </ng-select>
                        </div>

                        <div class="form-group col-md-10">
                            <ng-select formControlName="sexo" name="sexo" placeholder="Sexo">
                                <ng-option *ngFor="let sexo of sexos" [value]="sexo.sexo">{{ sexo.sexo }}</ng-option>
                             </ng-select>
                        </div>

                        <div class="form-group col-md-10">
                            <input class="form-control" type="text" maxlength="100" formControlName="flagrante" placeholder="Flagrante">
                        </div>

                        <div class="form-group col-md-10">
                            <input class="form-control" type="text" maxlength="100" formControlName="delegacia" placeholder="Delegacia">                           
                        </div>


                        <button class="btn btn-dark ml-3 mt-3 pull-right">Filtrar</button>
                        <input class="btn btn-dark ml-3 mt-3 pull-right" type="reset" value="Limpar">
                    </div>
                </form>
            </div>
            <div class="chart col">
                <div style="display: block;">
                    <canvas baseChart
                       [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>
</div>
